market_expansion_advisor.json
{
  "name": "market expansion advisor",
  "nodes": [
    {
      "parameters": {},
      "id": "a3736621-2f00-4775-9117-d4ceebd3b663",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "=data {{ $json.text }}",
        "options": {}
      },
      "id": "26a0aad8-945b-4808-801d-7e1aa683832c",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1240,
        320
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b",
        "options": {}
      },
      "id": "e2b79ff9-6172-4ec2-a075-064aa0e58692",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        480
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "JbEhKxehH5blT25V",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"how to grow my product \"+ $json.description }}"
      },
      "id": "6656b8e5-937c-42f7-ba59-9d156d39063b",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        940,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "424287ee-9155-4267-8674-182bd5c14f2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99c9ad39e037c576bf627b0a002067b5148ead85aca0a4be5a600b828820ae34"
  },
  "id": "E56n8YCiFm71uA7f",
  "tags": []
}